PORT=5000
ML_API_URL=http://127.0.0.1:8000
X_API_BASE_URL=https://api.x.com/2
X_ALT_API_BASE_URL=https://api.twitter.com/2
X_MAX_RESULTS=25
DATASET_PATH=../../ML/training.1600000.processed.noemoticon.csv
DATASET_SAMPLE_LIMIT=20000
CSV_KPI_MODE=inflated

# Preferred auth (Recent Search API)
X_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAAB6n7gEAAAAAi%2BcMlYRgGdJQa8EnsbFwh9FHX%2Bc%3DD5kUdlrQfo2PU319zETDmOEqgSlpSYBE5El0p7vNqfCVFlsE9E

# Optional alternate names also supported:
# TWITTER_BEARER_TOKEN=
# BEARER_TOKEN=

# Optional fallback auth (will auto-generate app bearer token):
X_CONSUMER_KEY=cvciG7yc6DIPibhOoIKyBfc7E
X_CONSUMER_KEY_SECRET=YePabae7D9zKZETOa66vsVoRObJ8pDQcND3NJvBcazWoWbvSMr
